<section>
  <h2 class="quiz_title">Choisi une catégorie de question !</h2>
  <section class="categorie-list">
    
    <section>
      <input type="text" [(ngModel)]="searchQuery" (input)="filterCategories()" placeholder="Rechercher une categorie de questions"/>
    </section>
    <section class="question_container" *ngFor="let content of filteredCategories; let i = index">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" (click)="goToQuizz(content.id)"><b>Catégorie {{ i + 1 }} :</b> {{ content.name }}</h4>
        </div>
      </div>
    </section>
    
  </section>
</section>
